.jumbotron {
    background-image: url("https://miro.medium.com/max/3598/1*eDX433yMoIIiXq8UXSEdhg.jpeg");
    background-position: 0% 42%;
    color: white;
    margin-top: 20px;
}
#title {
    font-family: 'Lobster', cursive;
    font-size: 80px;
}
#searchBtn {
    border-color: white;
    color: white;
}
#bottomBox {
    margin-top: 20px;
}
#bottomCard{
    width: 560px;
    height: 320px;
}
.footer {
    height: 50px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #c4c2c27c;
    width: 100%;
}